.footer {
   background-color: $pinkColor;

   // .footer__container
   &__container {}

   // .footer__body
   &__body {
      @media (min-width: $md3+px) {
         display: flex;
      }

      justify-content: space-between;
      @include adaptiv-value("padding-top", 120, 60, 1);
      @include adaptiv-value("padding-bottom", 120, 60, 1);
   }

   // .footer__main
   &__main {
      @media (max-width: $md3+px) {
         margin-bottom: 50px;
      }
   }

   // .footer__logo
   &__logo {}

   // .footer__contacts
   &__contacts {}

   // .footer__massegers
   &__massegers {}

   // .footer__columns
   &__columns {}

   // .footer__foot
   &__foot {}
}

.contacts-footer {
   width: 230px;
   @include adaptiv-value("margin-top", 82, 40, 1);

   // .contacts-footer__item
   &__item {
      display: flex;

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 32, 15, 1);
      }

      &::before {
         margin-right: 10px;
         color: $orangeColor;
      }

      & a:hover {
         color: $orangeColor;
      }

      // .contacts-footer__mail
      &_mail {
         color: $orangeColor;

         & a:hover {
            text-decoration: underline;
         }
      }
   }
}

.massegers-footer {
   @include adaptiv-value("margin-top", 50, 30, 1);

   // .massegers-footer__title
   &__title {
      font-weight: 600;
      margin-bottom: 10px;
   }

   // .massegers-footer__body
   &__body {
      display: flex;
   }

   // .massegers-footer__link
   &__link {
      background: $orangeGradient;
   }
}

.columns-footer {
   position: relative;

   @media (max-width: $md3+px) {
      &:not(:last-child) {
         margin-bottom: 15px;
      }

      box-shadow: 0 0 7px #a09994;
      padding: 25px;
      border-radius: 5px;
   }

   // .columns-footer__title
   &__title {
      font-weight: 600;
   }

   // .columns-footer__list
   &__list {
      @include adaptiv-value("margin-top", 40, 30, 1);
   }

   // .columns-footer__item
   &__item {
      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 25, 20, 1);
      }

      & a {
         transition: all 0.2s ease 0s;
      }

      & a:hover {
         color: $orangeColor;
      }

      &_hot a {
         display: inline-block;
         color: $pinkColor;
         padding: 5px 10px;
         border-radius: 5px;
         transition: all 0.2s ease 0s;
         background-color: $orangeColor;

         @media (max-width: $md3+px) {
            box-shadow: 1px 1px 4px #bb5a34;
         }
      }

      &_hot a:hover {
         color: $pinkColor;
         box-shadow: 1px 1px 4px #bb5a34;
      }

      &_hot a:active {
         box-shadow: none;
      }
   }

   // .columns-footer__arrow
   &__arrow {
      display: none;

      @media (max-width: $md3+px) {
         display: block;
         position: absolute;
         font-size: 8px;
         padding: 25px 0px;
         top: 3px;
         right: 0;
         margin-right: 20px;
         transition: all 0.3s ease 0s;

         &._active {
            transform: rotate(-180deg);
         }
      }
   }

   // .columns-footer__link
   &__link {}

   // .columns-footer__button
   &__button {
      @media (max-width: $md3+px) {
         position: absolute;
         padding: 25px 0px 25px 800px;
         right: 0;
         top: 0;
      }

      &._active .columns-footer__arrow {
         transform: rotate(-180deg);
      }
   }
}

.foot-footer {
   width: 100%;
   background-color: $mainColor;

   //.foot-footer__container
   &__container {}

   //.foot-footer__body
   &__body {
      display: flex;
      padding: 24px 0;
      align-items: center;
      justify-content: space-between;
   }

   // .foot-footer__autor-simbol
   &__autor-simbol {
      & img {
         @include adaptiv-value("height", 13, 6.5, 1);
         @include adaptiv-value("width", 165, 82.5, 1);
      }
   }

   // .foot-footer__payment-sistem
   &__payment-sistem {
      display: flex;
   }

   // .foot-footer__mastercard
   &__mastercard {
      display: flex;
      align-items: center;

      & img {
         @include adaptiv-value("height", 25, 12.5, 1);
         @include adaptiv-value("width", 40, 20, 1);
      }

      &_text {
         & img {
            @include adaptiv-value("height", 12, 6, 1);
            @include adaptiv-value("width", 92, 46, 1);
         }
      }
   }

   // .foot-footer__visa
   &__visa {
      margin-right: 22px;

      & img {
         @include adaptiv-value("height", 25, 12.5, 1);
         @include adaptiv-value("width", 75, 37.5, 1);
      }
   }
}