.header {
   padding: 15px 0 300px;
   //@include adaptiv-value("padding-bottom", 300, 300, 1);
   background: linear-gradient(95.97deg, #fdf8f4 0.93%, #f2e3df 97.39%);

   // .header__container
   &__container {}

   // .header__body
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 20px;
      //z-index: 10;

      /* @media (max-width: $md2+px) {
         &::after {
            content: '';
            //$hederBodyAfterDisplay: none;
            width: 100vw;
            height: 85px;
            position: absolute;
            opacity: 0.7;
            top: 0;
            left: 0;
            //background: linear-gradient(95.97deg, #fdf8f4 0.93%, #f2e3df 97.39%);
            background-color: $pinkColor;
            z-index: 9;
         }
      } */
   }

   // .header__main
   &__main {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      //z-index: 10;
   }

   // .header__logo
   &__logo {}

   // .header__menu
   &__menu {}

   // .header__action
   &__action {
      z-index: 4;
   }

   // .header__syte-nav
   &__syte-nav {}
}

.menu {
   display: flex;
   margin-right: 0;
   margin-left: 0;

   @media (min-width: $md3+px) {
      flex: 1 1 auto;
      align-items: center;
      @include adaptiv-value("margin-right", 54, -20, 1);
      @include adaptiv-value("margin-left", 54, -20, 1);
   }

   @media (max-width: $md3+px) {
      opacity: 0;
      visibility: hidden;
      overflow: auto;
      transition: all 0.3s ease-in-out 0s;
      transform: translate(-200px, 0);
      flex-direction: column;
      position: fixed;
      width: 100vw;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $pinkColor;
      z-index: 2;

      &::after {
         content: '';
         position: fixed;
         top: 0;
         left: 0;
         width: 100vw;
         height: 100vh;

      }

      .menu__menu-hold {
         width: auto;
         height: auto;
         position: static;
         margin-top: 0;
         padding-top: 0;
         margin-top: 20px;
         transform: translate(0, 0);
         flex-direction: row;
      }

      .contacts-menu {
         display: flex;
      }


      &._active {
         opacity: 1;
         visibility: visible;
         transform: translate(0px, 0px);

         .menu__menu-hold {
            opacity: 1;
         }

         .contacts-menu {}

         .menu__lang {}

         .menu__body {}

         .menu__list {}

         .menu__item {
            display: block;
         }
      }
   }

   @media (min-width: $md3+px) {
      &._active {
         .menu__menu-hold {
            opacity: 1;
            transform: translate(0, 0);

            &::after {
               opacity: 1;
            }
         }

         .contacts-menu {
            display: block;
            transform: scale(1, 1);
            opacity: 1;
         }

         .lang-menu {
            transform: scale(1, 1);
            opacity: 1;
         }
      }
   }

   // .menu__menu-hold
   &__menu-hold {
      display: flex;
      flex-direction: column;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: $pinkColor;
      transition: all 0.3s ease-in-out 0s;
      align-items: center;
      position: absolute;
      padding: 20px 0px;
      margin: 70px 10px 0;
      width: 100px;
      height: 200px;
      opacity: 0;
      top: 0;
      right: 0;
      z-index: 2;
      transform: translate(0, 100%);

      &::after {
         content: '';
         transition: all 0.3s ease-in-out 0s;
         opacity: 0;
         position: absolute;
         top: -50px;
         right: 0;
         border-top-left-radius: 50%;
         border-top-right-radius: 50%;
         background-color: $pinkColor;
         width: 50px;
         height: 50px;
         z-index: 2;
      }
   }

   // .menu__contacts
   &__contacts {}

   // .menu__body
   &__body {
      flex: 1 1 auto;

      @media (max-width: $md3+px) {
         width: 100%;
         margin-top: 90px;
         top: 0;
         left: 0;
      }
   }

   // .menu__list
   &__list {
      width: 100%;
      position: relative;

      @media (min-width: $md3+px) {
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }

   // .menu__item
   &__item {
      position: relative;
      display: flex;
      align-items: center;
      transition: all 0.3s ease 0s;
      //padding-top: 10px;

      @media (min-width: $md3+px) {
         &:not(:last-child) {
            @include adaptiv-value('margin-right', 40, 20, 1);
         }

      }

      &._hover {
         .menu__sub-list {
            transform: translate(-15px, 102%);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
         }

         .menu__arrow {
            transform: rotate(-180deg);
         }

         .menu__arrow,
         .menu__link {
            color: $orangeColor;
         }
      }

      @media (max-width: $md3+px) {
         display: none;
         width: 100%;
         position: relative;
         padding: 15px 0;
      }

      @media (any-hover: hover) {
         &::after {
            content: '';
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 30px;
            top: 0;
            left: 0;
            opacity: 0;
         }

         /* &[disabled] {
            & * {
               cursor: default;
            }

         } */

         &:not([disabled]):hover {
            .menu__sub-list {
               transform: translate(-15px, 102%);
               opacity: 1;
               visibility: visible;
               pointer-events: auto;
            }

            .menu__sub-item {
               cursor: pointer;
            }

            .menu__arrow {
               transform: rotate(-180deg);
            }

            .menu__arrow,
            .menu__link {
               color: $orangeColor;
            }
         }
      }
   }

   // .menu__link
   &__link {

      //padding: 0 15px;
      @media (max-width: $md3+px) {
         //flex: 0 1 40%;
         margin-left: 10px;
      }

      &:active {
         text-decoration: underline;
      }

      @media (any-hover: none) {
         &:active {
            color: $orangeColor;
         }
      }
   }

   // .menu__button
   &__button {
      @media (max-width: $md3+px) {
         position: absolute;
         top: 0;
         right: 0;
         padding: 20px 0 20px 800px;

         &._active .menu__arrow {
            transform: rotate(-180deg);
         }
      }
   }

   // .menu__arrow
   &__arrow {
      font-size: 8px;
      margin: 3px 0 0 8px;

      &:not(:last-child) {
         margin-right: 20px;
      }

      transition: all 0.3s ease 0s;

      @media (max-width: $md3+px) {
         position: absolute;
         top: 0;
         right: 0;
         margin: 0px 20px;
         padding: 20px 0px;
      }
   }

   // .menu__sub-list
   &__sub-list {
      width: 100%;
      background: $orangeGradient;

      @media (max-width: $md3+px) {
         position: static;
         margin-top: 10px;
         padding: 20px;
      }

      @media (min-width: $md3+px) {
         position: absolute;
         min-width: 140px;
         border-radius: 3px;
         //top: 16px;
         bottom: 0;
         left: 13px;
         padding: 10px;
         transition: all 0.3s ease 0s;
         transform: translate(-15px, 0);
         opacity: 0;
         visibility: hidden;
         pointer-events: auto;
      }
   }

   // .menu__sub-item
   &__sub-item {
      cursor: default;
      color: #fff;

      &:not(:last-child) {
         margin-bottom: 10px;
      }

      @media (max-width: $md3+px) {
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }

      @media (any-hover:hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .menu__icon
   &__icon {}

   // .menu__lang
   &__lang {}
}

.contacts-menu {
   display: flex;
   @include adaptiv-value("margin-right", 75, -100, 1);

   @media (max-width: $md2+px) {
      display: none;
      margin-right: 0;
      margin-bottom: 20px;
   }

   @media (max-width: $md2+px) {
      margin-right: 10px;
      margin-bottom: 0px;
   }

   // .contacts-menu__link
   &__link {
      background: #ad8780;
      box-shadow: 0px 2px 0 #90665e;

      &:not(:last-child) {
         margin-right: 6px;
      }

      @media (max-width: $md2+px) {
         &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
         }
      }

      @media (max-width: $md3+px) {
         &:not(:last-child) {
            margin-right: 6px;
            margin-bottom: 0px;
         }
      }

      @media (any-hover: hover) {
         &:hover {
            box-shadow: none;
         }
      }

      @media (any-hover: none) {
         &:active {
            box-shadow: none;
         }
      }
   }
}

.action-header {
   display: flex;

   // .action-header__link
   &__link {
      //&:not(:last-child) {
      margin-right: 10px;
      //}
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all 0.3s ease 0s;

      &::before {
         position: absolute;
         color: #fff;
      }

      // .action-header__link_profile
      &_profile {
         background: #fff;

         &::before {
            top: 32%;
            left: 37%;
            color: $orangeColor;
         }
      }

      // .action-header__link_cart
      &_cart {
         margin-right: 80px;

         @media (max-width: $md2+px) {
            margin-right: 10px;
         }

         background: $orangeColor;

         &::before {
            top: 35%;
            left: 30%;
         }
      }
   }

   &__link-text {
      transform: translate(45px, 12px);
      display: block;
      font-weight: 600;

      @media (max-width: $md2+px) {
         display: none;
      }
   }

   // .actions-header__item
   &__item {
      position: relative;
   }
}

//Lang Menu============================================================
.lang-menu {
   $zLangIndex: 1;

   //flex: 1 1 auto;
   @media (max-width: $md2+px) {
      margin-top: 20px;
   }

   @media (max-width: $md3+px) {
      margin-top: 0px;

   }

   @media (max-width: $md2+px) {
      display: none;
   }

   // .lang-menu__visible
   &__visible {
      cursor: pointer;
      border-radius: 7px;
      display: flex;
      flex-direction: row-reverse;
      padding: 10px;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      height: 40px;
      width: 70px;
      position: relative;
      background-color: #fff;
      transition: all 0.3s ease 0s;

      &::before {
         opacity: 1;
         font-size: 8px;
         transition: all 0.3s ease 0s;
         z-index: $zLangIndex + 2;

         @media (max-width: $md3+px) {
            transform: rotate(-90deg);
         }
      }

      &._hold {
         overflow: visible;

         &::before {
            opacity: 0;
            transform: rotate(180deg);

            @media (max-width: $md3+px) {
               transform: rotate(90deg);
            }
         }

         .lang-menu__list {
            z-index: $zLangIndex + 3;
         }

         .lang-menu__option {
            @media (any-hover:hover) {
               &:not([disabled]):hover {
                  background-color: $orangeColor;
                  color: #fff;
               }
            }

            /* &:active {
               color: #fff;
               transition: color 0.3s ease-in-out 0s;
               background-color: $orangeColor;
            } */

         }
      }
   }

   // .lang-menu__list
   &__list {
      display: flex;
      flex-direction: column;
      width: inherit;
      position: absolute;
      top: 0;
      left: 0;

      @media (max-width: $md3+px) {
         flex-direction: row;
         width: auto;
      }
   }

   // .lang-menu__option
   &__option {
      display: flex;
      height: 40px;
      width: inherit;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
      z-index: $zLangIndex;
      background-color: #fff;
      transition: all 0.3s ease-in-out 0s; //background-color, color, transform

      @media (max-width: $md3+px) {
         width: 70px;
      }

      &:first-child {
         border-top-left-radius: 7px;
         border-top-right-radius: 7px;

         @media (max-width: $md3+px) {
            border-top-left-radius: 7px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 7px;
         }
      }

      &:last-child {
         border-bottom-left-radius: 7px;
         border-bottom-right-radius: 7px;

         @media (max-width: $md3+px) {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 7px;
            border-top-right-radius: 7px;
         }
      }

      &._active {
         z-index: $zLangIndex + 1;
      }
   }

   // .lang-menu__select
   &__select {
      display: none;
   }
}

/* :root {
   --select-focus: $orangeColor;
} */
//Cart==================================================================
.cart-header {
   font-family: "Inter";

   // .cart-header__icon
   &__icon {}

   // .cart-header__body
   &__body {}

   // .cart-header__list
   &__list {}
}

.cart-list {}

//=====================================================================

.syte-nav {
   //@include adaptiv-value("margin-top", 130, 110, 1);
   @include adaptiv-value("margin-top", 70, 50, 1);
   font-size: 14px;

   // .syte-nav__main
   &__main {
      padding-right: 6px;
      position: relative;
      color: $orangeColor;

      &::before {
         position: absolute;
         color: $orangeColor;
         font-size: 8px;
         top: 5px;
         left: 60px;
         transform: rotate(-90deg);
      }

      &:visited {
         color: $orangeColor;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .syte-nav__this
   &__this {
      margin-left: 15px;

      @media (any-hover: hover) {
         &:hover {
            color: $orangeColor;
            text-decoration: underline;
         }
      }
   }
}

//Icon-menu===========================================================
.icon-menu {
   display: none;

   @media (max-width: $md2+px) {
      display: block;
      margin-left: 10px;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         opacity: 0;
         width: 100vw;
         height: 85px;
         transform: translate(-100%, 0);
         transition: all 0.3s ease-in-out 0s;
         background-color: $pinkColor;
         z-index: 3;
      }
   }

   &._active {
      &::before {
         opacity: 0.8;
         transform: translate(0, 0);
      }

      .icon-menu__container span {
         transform: scale(0);

         &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 0.75px);
         }

         &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 0.75px);
         }
      }
   }

   // .icon-menu__container
   &__container {
      display: none;

      @media (max-width: $md2+px) {
         display: block;
         position: relative;
         width: 18px;
         height: 13.5px;
         cursor: pointer;
         z-index: 4;

         &::before {
            content: '';
            position: absolute;
            top: calc((100% - 40px) / 2);
            left: calc((100% - 40px) / 2);
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
         }

         & span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 0.75px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 1.5px;
            background-color: #000;

            &:first-child {
               top: 0;
            }

            &:last-child {
               top: auto;
               bottom: 0;
            }
         }
      }
   }
}