.popup {

   // .popup__arts
   &__arts {}
}

.arts-popup {

   // .arts-popup__order
   &__order {}
}

.order-popup {
   display: flex;
   width: 100vw;
   justify-content: center;

   // .order-popup__body
   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80vw;
      padding: 70px;
      background-color: $pinkColor;
      border-radius: 10px;
      border: 2px solid #fff;
      outline: 8px solid $pinkColor;
   }

   // .order-popup__title
   &__title {
      text-align: center;
      margin-bottom: 40px;
   }

   // .order-popup__list
   &__list {
      width: 50%;

      & input[type="radio"] {
         display: none;
      }
   }

   // .order-popup__item
   &__item {
      padding: 20px 20px 0px 20px;
      position: relative;
   }

   // .order-popup__item-title
   &__item-title {
      font-weight: 600;
      font-size: 18px;
      padding: 13px 20px;
      border-radius: 7px;
      background-color: #fff;
   }

   // .order-popup__button
   &__button {
      position: absolute;
      top: 34px;
      right: 7%;
      width: 14px;
      height: 14px;
      transition: all 0.3s ease-in-out 0s;

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 0;
         width: 14px;
         height: 2px;
         background-color: $orangeColor;
         transition: all 0.3s ease-in-out 0s;
      }

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 0;
         width: 14px;
         height: 2px;
         background-color: $orangeColor;
         transform: rotate(-90deg);
         transition: all 0.3s ease-in-out 0s;
      }

      &._active {
         &::before {
            transform: rotate(-180deg);
         }

         &::after {
            transform: rotate(-180deg);
         }
      }
   }

   // .order-popup__sub-list
   &__sub-list {
      padding: 20px 10px 10px 10px;

      &._show {
         .order-popup__help {
            opacity: 1;
            visibility: visible;
            transform: translate(110%, -95%);
         }
      }
   }

   // .order-popup__help
   &__help {
      display: flex;
      cursor: default;
      align-items: center;
      width: 90%;
      padding: 20px;
      height: 80px;
      margin: 8px 0px 20px;
      background-color: #fff;
      border-radius: 5px;
      border: 2px solid $pinkColor;
      outline: 6px solid #fff;
      transition: all 0.3s ease-in-out 0s;

      &::before {
         content: '';
         display: block;
         margin-right: 10px;
      }

      &#helpPop_1 {
         &::before {
            //background: url('../img/popup/');
         }
      }

      &#helpPop_2 {
         &::before {
            //background: url('../img/popup/');
         }
      }

      &#helpPop_3 {
         &::before {
            //background: url('../img/popup/');
         }
      }

      &#helpPop_4 {
         &::before {
            width: 47px;
            height: 34px;
            background: url('../img/popup/Group.svg') 0 0/100% 100% no-repeat;
         }
      }

      &#helpPop_5 {
         &::before {
            width: 86px;
            height: 52px;
            background: url('../img/popup/framesрр.svg') 0 0/100% 100% no-repeat;
         }
      }

      &#helpPop_6 {
         &::before {
            width: 54px;
            height: 60px;
            background: url('../img/popup/gift.svg') 0 0/100% 100% no-repeat;
         }
      }

      &#helpPop_7 {
         &::before {
            width: 95px;
            height: 74px;
            background: url('../img/popup/framesрр\(rot\).svg') 0 0/100% 100% no-repeat;
         }
      }

      &#helpPop_8 {
         &::before {
            width: 70px;
            height: 39px;
            background: url('../img/popup/present.svg') 0 0/100% 100% no-repeat;
         }
      }

      &#helpPop_9 {
         &::before {
            width: 60px;
            height: 38px;
            background: url('../img/popup/write.svg') 0 0/100% 100% no-repeat;
         }
      }

      @media (min-width: $md2+px) {
         position: absolute;
         opacity: 0;
         visibility: hidden;
         transform: translate(0%, -95%);

         &::after {
            content: '';
            position: absolute;
            left: -40px;
            width: 10px;
            height: 40px;
            background-color: $pinkColor;
         }
      }
   }

   // Paint in css ====================================================
   // .order-popup__help-point
   &__help-point {
      display: none;

      @media (min-width: $md2+px) {
         position: absolute;
         display: block;
         top: 5px;
         left: -40px;
         width: 40px;
         height: 40px;

         background-color: #fff;
         overflow: hidden;

         &::after {
            content: '';
            position: absolute;
            transform: translate(-7px, -50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $pinkColor;
            z-index: 3;
         }


         &::before {
            content: '';
            position: absolute;
            transform: translate(-7px, 50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $pinkColor;
            z-index: 3;
         }

      }
   }

   // .order-popup__help-point-point
   &__help-point-point {
      position: absolute;
      right: 0;
      top: 50%;
      width: 30px;
      height: 30px;
      transform: translate(0, -50%);
      background-color: #fff;

      &::after {
         content: '';
         position: absolute;
         transform: translate(-9.5px, -23px);
         width: 38px;
         height: 38px;
         border-radius: 50%;
         background-color: #fff;
         z-index: 2;
      }


      &::before {
         content: '';
         position: absolute;
         transform: translate(-9.5px, 15px);
         width: 38px;
         height: 38px;
         border-radius: 50%;
         background-color: #fff;
         z-index: 2;
      }
   }

   // .order-popup__help-point-point-point
   &__help-point-point-point {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #fff;
      transform: translate(0, -50%);
      top: 50%;
      right: 0;

      &::after {
         content: '';
         position: absolute;
         transform: translate(-50%, -72%);
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: $pinkColor;
      }


      &::before {
         content: '';
         position: absolute;
         transform: translate(-50%, 22%);
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: $pinkColor;
      }
   }


   // .order-popup__form
   &__form {

      // .order-popup__form_photo
      &_photo {}
   }

   // .order-popup__sub-item
   &__sub-item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
         padding-bottom: 30px;
      }

      &_comm {
         &._send-photo {
            width: 70%;
         }
      }
   }

   // .order-popup__sub-item-text
   &__sub-item-text {
      display: inline-block;
      max-width: 350px;
   }

   // .order-popup__sub-radio
   &__sub-radio {}

   // .order-popup__sub-main
   &__sub-main {}

   // .order-popup__sub-group
   &__sub-group {
      &._show {
         .order-popup__sub-sub-list {
            transform: translate(60%, 0);
            transition: all 0.3s ease-in-out 0s;
         }

         .order-popup__sub-sub-item {
            &:nth-child(1) {
               transform: translate(0, -600%);
            }

            &:nth-child(2) {
               transform: translate(0, -430%);
            }

            &:nth-child(3) {
               transform: translate(0, -260%);
            }

            &:nth-child(4) {
               transform: translate(0, -90%);
            }

            &:nth-child(5) {
               transform: translate(0, 80%);
            }

            &:nth-child(6) {
               transform: translate(0, 250%);
            }

            &:nth-child(7) {
               transform: translate(0, 420%);
            }


            transition: all 0.3s linear 0.3s;
         }
      }
   }

   // .order-popup__sub-sub-list
   &__sub-sub-list {
      transform: translate(0, 0);
      transition: all 0.2s ease-in-out 0.3s;
   }

   // .order-popup__sub-sub-item
   &__sub-sub-item {
      transition: all 0.2s linear 0s;

      &:not(:last-child) {
         padding-bottom: 0px;
      }

      &:nth-child(1) {
         transform: translate(0, 0);
      }

      &:nth-child(2) {
         transform: translate(0, 0);
      }

      &:nth-child(3) {
         transform: translate(0, 0);
      }

      &:nth-child(4) {
         transform: translate(0, 0);
      }

      &:nth-child(5) {
         transform: translate(0, 0);
      }

      &:nth-child(6) {
         transform: translate(0, 0);
      }

      &:nth-child(7) {
         transform: translate(0, 0);
      }
   }

   // .order-popup__sub-sub-radio
   &__sub-sub-radio {}

   // .order-popup__sub-input
   &__sub-input {}

   // .order-popup__sub-text
   &__sub-text {
      padding: 20px;
      border-radius: 5px;
   }

   // .order-popup__info
   &__info {
      display: inline-block;
      margin-left: 10px;
      width: 17px;
      height: 16px;
      background: url('../img/popup/info.svg') 0 0 / 100% 100% no-repeat;
   }

   // .order-popup__info-text
   &__info-text {}

   // .order-popup__sub-item-title
   &__sub-item-title {
      opacity: 0.8;
      padding: 0px 0px 10px 3px;

      // .order-popup__sub-item-title_photo
      &_photo {}
   }

   // .order-popup__comment
   &__comment {
      border-radius: 5px;
      padding: 20px;
      min-height: 60px;
      height: 76px;
      max-height: 100px;
      min-width: 95%;
      max-width: 95%;
   }

   // .order-popup__addMore
   &__addMore {
      display: flex;
      width: auto;
      color: $orangeColor;
      align-items: center;
      margin: 10px 0px 0px 5px;
      cursor: pointer;

      &::after {
         content: '';
         display: block;
         position: absolute;
         left: 60px;
         bottom: 7px;
         opacity: 0;
         visibility: hidden;
         width: 130px;
         height: 2px;
         background-color: $orangeColor;
         transition: all 0.3s ease-in-out 0s;
      }

      &::before {
         content: '';
         display: block;
         margin-right: 10px;
         width: 16px;
         height: 17px;
         transition: all 0.3s ease-in-out 0s;
         background: url('../img/popup/plus.svg') 0 0/100% 100% no-repeat;
      }

      @media (any-hover:hover) {
         &:hover {
            &::after {
               opacity: 1;
               visibility: visible;
            }
         }
      }
   }
}