//Contacts===============================================================================
// ._massegers
._massegers {
   &:not(:last-child) {
      margin-right: 6px;
   }
   position: relative;
   display: block;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transition: all 0.3s ease 0s;
   &::before {
      position: absolute;
      color: #fff;
      top: 33%;
      left: 33%;
   }
   // ._massegers_face
   &_face {
      &::before {
         left: 40%;
      }
   }
   // ._massegers_inst
   &_inst {
   }
}

//Logo===================================================================================
.logo {
   flex: 0 1 auto;
   z-index: 20;
   // .logo__image
   &__image img {
      @include adaptiv-value("height", 67, 50, 1);
      @include adaptiv-value("width", 180, 122.5, 1);
   }
}

//Lang===================================================================================
/* ._lang {
   padding: 10px;
   height: 40px;
   width: 70px;
} */

//Button================================================================================
.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   padding: 30px;
   font-weight: 700;
   color: #fff;
   background: $orangeGradient;
   box-shadow: 0px 2px 2px #aa512e;
   transition: all 0.4s ease 0s;
   &:active {
      box-shadow: none;
   }
}

//Arts==================================================================================
/* .item-arts__image._vertical {
   img {
      height: 100%;
      width: auto;
      left: 50px;
      @include adaptiv-value("top", -20, 0, 1);
   }
} */

//===================================================================================

._send-photo {
   & input {
      opacity: 0;
      cursor: pointer;
   }
}

span.orange {
   color: $orangeColor;
}
